.btn{
    background-color: grey;
    color: yellow;
    border-radius: 50%;
    border: grey;

    
}
.grid{
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr 1fr;
}
button {
    height: 30px;
    width: 30px;
    background-color: grey;
    color: yellow;
    border-radius: 50%;
    border: grey;
  }

  form {
  border: 5px black solid;
  background-color: black;
  }

  