.btn{
    background-color: grey;
    color: yellow;
    border-radius: 50%;
    border: grey;
   
}
input{
    width: 100%;
}
// .firstrow {
//     grid-area: firstrow;
//     text-align: center;
//   }
//   .firstrow {
//     grid-area: firstrow;
//     text-align: center;
//   }
//   .firstrow {
//     grid-area: firstrow;
//     text-align: center;
//   }
.grid{
    display: grid;
    width: ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}
button {
    height: 50px;
    width: 50px;
    background-color: grey;
    color: yellow;
    border-radius: 50%;
    border: grey;
  &_operation{
      background-color: yellow;
      color: black;
  }  
}

  form {
  border: 5px black solid;
  background-color: black;
  }

  