.btn{
    background-color: grey;
    color: yellow;
    border-radius: 50% grey;

    
}

button {
    background-color: grey;
    color: yellow;
    border-radius: 50% grey;
  }

  form {
  border: 5px black solid;
  background-color: black;
  }

  